@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
  --primary-color: #4c4592;
  --secondary-color: #327ed1;
  --bg-color: #0f172a;
  --paper-color: #1d2537;
  --text-color: #f4c9ff;
}

body {
  min-height: 100vh;
}

.clear-link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}
