@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
  --primary-color: #0007a7;
  --secondary-color: #4c4592;
  --bg-color: #160526;
  --paper-color: #07020d;
  --text-color: #f4c9ff;
}

body {
  min-height: 100vh;
}

.clear-link {
  color: var(--text-color);
  text-decoration: none;
}

.shiny-hover:hover {
  color: #ffffff;
  background: var(--primary-color);
  text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
  box-shadow: 0 0 5px var(--primary-color), 0 0 20px var(--primary-color),
    0 0 50px var(--primary-color), 0 0 100px var(--primary-color);
}
