.embla-category {
  margin: auto;
  --slide-height: 20rem;
  --slide-spacing: 1rem;
  --slide-size: 55%;
}
.embla__container-category {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide-category {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img-category {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}
